$color-brand-primary: #2196F3;

$color-text-primary: #333333;
$color-text-secondary: #4A4A4A;
$color-text-tertiary: #C3CDD3;
$color-text-white: #F4F4F4;

$box-shadow-default: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

$color-background-white: #ffffff;

$color-border-default: #4A4A4A;
